In [4]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
TRAIN_DATASET_PATH = './data/train.csv'
TEST_DATASET_PATH = './data/test.csv'

__Описание датасета:__  
* __Passengerld__  Уникальный идентификатор для каждого пассажира
* __HomePlanet__  Планета, с которой вылетел пассажир, как правило, планета их постоянного проживания.
* __CryoSleep__ Указывает, решил ли пассажир быть переведен в режим анабиоза на время рейса.
* __Cabin__ Номер каюты, в которой находился пассжир
* __Destination__ Планета, на которую будет высаживаться пассажир.
* __Age__ Возраст пассажира
* __VIP__ Оплатил ли пассажир специальное VIP-обслуживание во время рейса.
* __RoomService__ Сумма, выставленная пассажиром за обслуживание номеров.
* __FoodCourt__ Сумма, выставленная пассажиром в фуд-корте.
* __ShoppingMall__ Сумма, выставленная пассажиром в торговом центре.
* __Spa__ Сумма, выставленная пассажиром в спа-салоне.
* __VRDeck__ Сумма, выставленная пассажиром на палубе виртуальной реальности.
* __Name__ Имя пассажира.
* __Transported__ Перенесся ли пассажир в другое измерение.
  
__Цель:__ Предсказать кто из пассажиров перенесся аномалией в другое измерение

In [6]:
train_df = pd.read_csv(TRAIN_DATASET_PATH)
train_df.tail()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [12]:
test_df = pd.read_csv(TEST_DATASET_PATH)
test_df.tail()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [13]:
train_df.shape[1] - 1 == test_df.shape[1]

True

In [ ]:
__Обзор данн